@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* body, html {
    width: 100%;
    height: 100%;
    background: #070f1a;
}

html, body, iframe {
    padding: 0;
    margin: 0;
    position: relative;
}

#slides {
    height:90%;
    width: 100%;
}

#music {
    width: 40%;
    height: 10%;
    position: fixed;
    right: 0;
    bottom: 0;
}

.join-wrapper {
    width: 60%;
    height: 10%;
    position: fixed;
    left: 0;
    bottom: 0;
} */

body {
    font-family: 'Montserrat', sans-serif;
    background: #050B17;
}

.header {
    padding: 0;
    overflow: hidden;
    border-radius: 15px;
}

.banner {
    width: 100%;
    padding: 0;
}

.content, .content-dark {
    padding: 35px 20px 20px;
}

.content {
    background: #e9edee;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.content-dark {
    background: #050B17;
    color: #e9edee;
}

.img-wrapper {
    width: 100%;
    position: relative;
    margin: 10px 0 20px;
}

.img-youtube {
    position: absolute;
    top: -12px;
    right: 15px;
    width: 46%;
    height: 90%;
}

.img-details {
    width: 100%;
}

.cta {
    margin: 30px 0 10px;
}

.cta-btn {
    padding: 10px 15px;
    color: #f2b244;
    border: 2px solid #f2b244;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
}

a {
    color: #f2b244;
}

a:hover {
    color: #ca9230;
}

.credits {
    margin-top: 15px;
}

iframe {
    margin: 15px 0;
}